<main>
    <div class="backSuperior"></div>
    <div class="conteudo">

        <div class="barraBusca">
            <input type="text" id="barraPesquisa" placeholder="Pesquise por livro, autor, ou ISBN..."
             [(ngModel)]="busca" (input)="buscarLivro()" >
        </div>

        <div class="filtros">

        </div>

        <div class="livros">
            
            @for (livro of livrosVisiveis; track livro.titulo){

                <button class="livro" data-bs-toggle="offcanvas" href="#livroInformacoes" 
                role="button" aria-controls="offcanvasExample" (click)="selecionarLivro(livro)">
                    
                    <img src="{{livro.imagem}}" >

                    <h2>{{ livro.titulo }}</h2>

                    <h3>{{ livro.autor }}</h3>

                    @if (livro.disponivel) {
                <span class="disponivel">
                    Disponível
                </span>
            } @else {
                <span class="indisponivel">
                    Indisponível
                </span>
            }

                </button>

            }
        </div>
            
            @if (livroSelecionado){    

            <div class="offcanvas offcanvas-end" tabindex="-1" id="livroInformacoes" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-body">
                    
                    <div class="offcontainer">
                        <div class="offcapalivro"><img src="{{livroSelecionado.imagem}}" alt=""></div>
                    </div>
                    
    
                    <h2>{{livroSelecionado.titulo}}</h2>
                    <h3>{{livroSelecionado.autor}}</h3>
                    <h3>{{livroSelecionado.anoLancamento}}</h3>
    
                    <p>{{livroSelecionado.sinopse}}</p>
    
                    <h3>ISBN: {{livroSelecionado.isbn}}</h3>
                    
                     @if (livroSelecionado.disponivel) {
                <span class="disponivel">
                    Disponível
                </span>
            } @else {
                <span class="indisponivel">
                    Indisponível
                </span>
            }
                    
                </div>
            </div>

        }

        <mat-paginator
            [length]="livros.length"
            [pageSize]="5"
            (page)="mudarPagina($event)">
        </mat-paginator>

    </div>
</main>