    <footer>

        <div class="rodape">

            <div class="p-half">

            </div>

            <div class="s-half">

                <div class="entre-title"><p>Entre em contato:</p></div>
                <div class="entre-contato">
                    <a href="https://www.instagram.com/jornalsales?utm_source=ig_web_button_share_sheet&igsi=ZDNlZDc0MzIxNw=="><div class="instagram"><img src="images/instagram.png" alt=""></div></a>
                </div>

            </div>

        </div>
        <hr>
        <p> © 2026 Jornal Sales - Todos os direitos reservado à escola Etec Sales Gomes</p>
    </footer>
    
