
<div class="nav">


    <a class="btn-hamburguer" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  <img id="hamburguer" src="images/hamburger.png" alt="">
</a>
  <div class="perfil-position">
  <div class="perfil-login"><img src="images/user.png" alt=""></div>
  </div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <a class="rotas" routerLink="/pg-inicial"><ul>PÁGINA INICIAL</ul></a>
    <a class="rotas" routerLink="/pg-jornal"><ul>JORNAL</ul></a>
    <a class="rotas" routerLink="/pg-biblioteca"><ul>BIBLIOTECA</ul></a>
    <a class="rotas" routerLink="/pg-sala"><ul>SALA</ul></a>
    
   
  </div>
</div>


</div>