main{
    display: flex;
    flex-direction: column;
}


.carrossel{
    width: 100%;
    height: 100%;
    background-image: url(/images/etec-carrosel.jpg);
    background-size: cover;
    background-position: center;
}

.carrossel-half{
    width: 50%;
    height: 100%;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.77) 60%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

/* ---------------------------------------------------------------------- */

h5{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

h6{
    font-size: 1.8rem;
    font-weight: bold;
}

h3{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

h1{
    font-weight: bold;
    font-size: 2.3rem;
}

p{
    font-family: arial;
    font-size: 1.2rem;
}

a{
    width: 0;
}

#saiba-mais{
    width: 190px;
    height: 40px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    font-family:'Times New Roman', Times, serif ;
    transition: 0.3s;
    margin-top: 30px;
    border: 1px solid var(--primary-color);
}

#saiba-mais:hover{
    background-color: white;
    color: var(--primary-color);
}

#avisos-h1{
    margin-bottom: 30px;
    margin-left:93px;
}

/* ------------------------------------------------------------ */

/* andar do carrosel */

.first-floor{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    /* padding-top: 50px; */
    /* padding-left: 130px;
    padding-right: 130px; */
}

/* andar da biblioteca, cardápio*/

.second-floor{
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 70px;
}

/* andar da escola */

.third-floor{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

/* ------------------------divide o segundo andar em dois um em baixo do outro------------------------------------- */

.f-half{
    width: 100%;
    height: 30%;
    display: flex;
    padding-left: 130px;
}

.s-half{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
}

/* -----------------------------fotos de um lado texto e outras coisas do outro---------------------------------- */

.metade-esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 130px;
}

.metade-direita{
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-right: 130px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

/* -------------------------------fotos da escola---------------------------------------- */

#foto-sobre-1{
    width: 250px;
    height: 430px;
    border-radius: 5px;
    margin-top: 90px;
    background-image: url(/images/condutor-sobe.jpeg);
    background-size: cover;
    background-position: center;
    
}
#foto-sobre-2{
    width: 250px;
    height: 430px;
    border-radius: 5px;
    margin-left: 40px;
    background-image: url(/images/etec-sobre-1.webp);
    background-size: cover;
    background-position: center;
}

.sombra-lateral{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #3F5EFB;
    background: radial-gradient(circle,rgba(63, 94, 251, 0) 85%, rgba(0, 0, 0, 0.15) 100%);    
}

/* ----------------------------------as caixas de biblioteca e cardapio----------------------------------------- */

.biblioteca-box{
    width: 640px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.325);
    background-image: url(/images/biblioteca-inicial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        background-color: #FFFFFF;

}

.cardapio-box{
    width: 460px;
    height: 220px;
    position: absolute;
    right: 0;
    margin-right: 130px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.325);
    background-color: #FFFFFF;
    background-image: url(/images/cardapio-inicial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* -------------------------------div que fica os aviso------------------------------------------------- */

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* --------------------------------define a caixa de texto das informaçoes sobre a escola--------------------------------------- */

.textoEscola{
    width: 100%;
}

.informacoes3floor{
    display: flex;
    flex-direction: row;
}

.primeiraInf{
    width: 100%;
    height: 85px;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundaInf{
    width: 100%;
    height: 85px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
