<main>
  <h1>Adicione notícias aqui:</h1>

  <label for="titulo">Adicione o título do seu aviso</label>

  <input type="text" id="titulo" [(ngModel)]="novoTitulo" placeholder="Escreva o título da notícia">

  <label for="descricao">Adicione a descrição do seu aviso</label>

  <input type="text" id="descricao" [(ngModel)]="novoDescricao" placeholder="Escreva a descrição da notícia" >

  <label for="dataExpiracao">Data de expiração</label>

  <input type="date" id="dataExpiracao" [(ngModel)]="novaDataExpiracao" >
  <button (click)="adicionarAviso()">Enviar</button>
</main>