<main>
    <div class="backSuperior"></div>
    <div class="conteudo">

        <div class="barraBusca">
            <input type="text" id="barraPesquisa" placeholder="Pesquise por livro, autor, ou ISBN..."
             [(ngModel)]="busca" (input)="buscarLivro()" >
        </div>

        <div class="filtros">

        </div>

        <div class="livros">
            
            @for (livro of livrosVisiveis; track livro.titulo){

                <button class="livro" data-bs-toggle="offcanvas" href="#livroInformacoes" role="button" aria-controls="offcanvasExample">
                    
                    <img src="" alt="">

                    <h2>{{ livro.titulo }}</h2>

                    <h3>{{ livro.autor }}</h3>

                    @if (livro.disponivel) {
                <span class="disponivel">
                    Disponível
                </span>
            } @else {
                <span class="indisponivel">
                    Indisponível
                </span>
            }

                </button>

            }

            <div class="offcanvas offcanvas-end" tabindex="-1" id="livroInformacoes" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-body">
                    
                    <div class="offcontainer">
                        <div class="offcapalivro"><img src="" alt=""></div>
                    </div>

                    <h2>titulo: </h2>
                    <h3>autor: </h3>
                    <h3>ano de lançamento:  </h3>

                    <p>sinopse</p>

                    <h3>ISBN</h3>
                    
                    <h3>disponibilidade</h3>
   
                </div>
            </div>

        </div>
        <mat-paginator
            [length]="livros.length"
            [pageSize]="5"
            (page)="mudarPagina($event)">
        </mat-paginator>

    </div>
</main>