main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #faf8f4;
}

.backSuperior{
    width: 100%;
    height: 15vh;
    background-color: gray;
}

.conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.barraBusca{
    display: flex;
    justify-content: center;
}

#barraPesquisa{
    width: 400px;
    border: none;
    padding: 7px;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.256);
}

.livros{
    width:min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.111);
}

.livro{
    width: 210px;
    height: 310px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.111);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(114, 114, 114, 0.105) ;
}

.livro h2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

h2{
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-league-spartan);
    margin-top: 10px;
}

h3{
    font-size: 0.80rem;
}

.disponivel{
    width:min-content;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    background-color: var(--second-correct-color);
    color: var(--correct-color);
    font-size: 0.80rem;
    font-family: var(--font-league-spartan);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.indisponivel{
    width: min-content;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    background-color: var(--second-wrong-color);
    color: var(--wrong-color);
    font-size: 0.80rem;
    font-family: var(--font-league-spartan);
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.livro img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

mat-paginator{
    margin-top: 10px;
    background-color:#faf8f4;
}

.offcanvas{
    display: flex;
    padding: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #faf8f4;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.349);
    text-align: center;
}

.offcontainer{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.289);
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgba(114, 114, 114, 0.105) ;
}

.offcapalivro{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.315);
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.offcapalivro img{
    width: 100%;
}

