@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --background-color: #faf8f4;
    --primary-color: #721111;
    --secondary-color: #430a0a;
    --tertiary-color: #9198a0;
    --correct-color: green;
    --second-correct-color: rgba(86, 224, 86, 0.419);
    --wrong-color: rgb(207, 7, 7);
    --second-wrong-color: rgba(255, 93, 93, 0.329);

    --font-league-spartan: "League Spartan", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

* {
    font-family: var(--font-montserrat);
}

body {
    margin: 0;
    padding: 0 !important;
    background-color: var(--background-color);
}

.cardapio-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 600px;
    height: 310px;
    border-radius: 5px !important;
}

.login-dialog .mat-mdc-dialog-surface {
  border-radius: 5px !important;
}